<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Show Event</title>
</head>
<body>
    <div  class="display">
        <nav>
            <a href="/">Users</a>
            <a href="/events">Events</a>
            <a href="/showEvents">Show events</a>
        </nav>
        <br>
        <br>
        <form action="/showEventnow" method="POST">
            <fieldset>
                <legend>Event to Show</legend>
                <label for="id">User ID</label>
                <input type="text" id="id" name="id">
                <br>
                <br>
            </fieldset>
                <br>
                <br>
              <button type="submit">Ok</button>
        </form>
    </div>
</body>
</html>